<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursework</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/skills">Skills</a>
            <a href="/coursework">Coursework</a>
            <a href="/teaching">Teaching Experience</a>
            <a href="/research">Research</a>
            <a href="/projects">Projects</a>
            <a href="/about">About Me</a>
        </nav>
        <h1>Coursework</h1>
    </header>
    <div class="coursework-container">
        <div class="coursework-column">
            <h2>Computer Science</h2>
            <ul>
                <li>Introduction to Artificial Intelligence (Graduate Course)</li>
                <li>Deep Learning</li>
                <li>LLM Independent Study</li>
                <li>Machine Learning Principles</li>
                <li>Design & Analysis of Computer Algorithms</li>
                <li>Principles of Information & Data Management</li>
                <li>Software Methodology</li>
                <li>Systems Programming</li>
                <li>Quantum Computing Seminar</li>
                <li>Discrete Structures</li>
                <li>Principles of Programming Languages</li>
                <li>Computer Architecture</li>
                <li>Data Structures</li>
            </ul>
        </div>
        <div class="coursework-column">
            <h2>Data Science</h2>
            <ul>
                <li>Information Visualization</li>
                <li>Data Management for Data Science</li>
                <li>Introduction to Data Science</li>
                <li>Data 101</li>
            </ul>
        </div>
        <div class="coursework-column">
            <h2>Mathematics</h2>
            <ul>
                <li>Mathematical Theory of Statistics</li>
                <li>Mathematical Theory of Probability</li>
                <li>Cryptography</li>
                <li>Graph Theory</li>
                <li>Linear Algebra</li>
                <li>Introduction to Real Analysis</li>
                <li>Introduction to Mathematical Reasoning</li>
                <li>Honors Calculus IV</li>
                <li>Honors Calculus III</li>
            </ul>
        </div>
        <div class="coursework-column">
            <h2>Statistics</h2>
            <ul>
                <li>Statistical Learning</li>
                <li>Applied Multivariate Analysis</li>
                <li>Regression Methods</li>
                <li>Statistical Quality Control</li>
                <li>Introduction to Computational Statistics</li>
                <li>Statistics II</li>
                <li>Statistics I</li>
            </ul>
        </div>
    </div>
    <footer>
        <a href="https://github.com/HowardLuo49" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/howard-luo-03b54b238/" target="_blank">LinkedIn</a>
    </footer>
</body>
</html>
