<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Howard Luo's Website</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/skills">Skills</a>
            <a href="/coursework">Coursework</a>
            <a href="/teaching">Teaching Experience</a>
            <a href="/research">Research</a>
            <a href="/projects">Projects</a>
            <a href="/about">About Me</a>
        </nav>
        <h1>Hi There!</h1>
        
    </header>
    <div class="container">
        <!-- Left (Majors) -->
        <div class="box">
            <div class="majors-grid">
                <div class="majors-item">
                    <p>Computer Science (B.S.)</p>
                    <a href="https://www.cs.rutgers.edu/academics/undergraduate/cs-degrees/b-s-degree" target="_blank">
                        <img src="/static/majors/computer_science.png" alt="Computer Science">
                    </a>
                </div>
                <div class="majors-item">
                    <p>Data Science (B.S.)</p>
                    <a href="https://mps.rutgers.edu/data-science-program/b-s-in-data-science" target="_blank">
                        <img src="/static/majors/data_science.png" alt="Data Science">
                    </a>
                </div>
                <div class="majors-item">
                    <p>Mathematics (B.S.)</p>
                    <a href="https://math.rutgers.edu/academics/undergraduate/majors" target="_blank">
                        <img src="/static/majors/mathematics.png" alt="Mathematics">
                    </a>
                </div>
                <div class="majors-item">
                    <p>Statistics (B.A.)</p>
                    <a href="https://statistics.rutgers.edu/majors" target="_blank">
                        <img src="/static/majors/statistics.png" alt="Statistics">
                    </a>
                </div>
            </div>
        </div>

        <!-- Middle (General) -->
        <div class="box center-box">
            <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">
                <img src="/static/misc_assets/my_photo.jpg" alt="My Photo">
            </a>
            <p>NYC Metropolitan Area</p>
            <p>Contact Me: <a href="mailto:howardluo2021@gmail.com" style="color: #FFD700;">howardluo2021@gmail.com</a></p>
        </div>

        <!-- Right (School) -->
        <div class="box right-box">
            <h3>School</h3>
            <a href="https://newbrunswick.rutgers.edu/" target="_blank">
                <img src="/static/misc_assets/rutgers_logo.png" alt="Rutgers University">
            </a>
            <p>Rutgers University<br>- New Brunswick</p>
        </div>
    </div>
    <footer>
        <a href="https://github.com/HowardLuo49" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/howard-luo-03b54b238/" target="_blank">LinkedIn</a>
    </footer>
</body>
</html>
