<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/skills">Skills</a>
            <a href="/coursework">Coursework</a>
            <a href="/teaching">Teaching Experience</a>
            <a href="/research">Research</a>
            <a href="/projects">Projects</a>
            <a href="/about">About Me</a>
        </nav>
        <h1>Research</h1>
    </header>
    <div class="research-container">
        <div class="research-card">
            <h2>Alphazero Based Neural Networks for 2-Move Chess</h2>
            <p><strong>Advisors/Collaborators:</strong> Professor Stoyan Dimitrov</p>
            <ul>
                <li><p>Trained a series of neural networks for modified chess rulesets using a similar approach as Alphazero.</p></li>
                <li><p>Seeking to solve 2-move chess with optimal computer play.</p></li>
            </ul>
        </div>
        <div class="research-card">
            <h2>Large Language Models for Scientific Problem Solving Based on Retrieval Augmented Hint Generation</h2>
            <p><strong>Advisors/Collaborators:</strong> Professor Yongfeng Zhang, Professor Alexandre Morozov, PhD Student Haoming Gong</p>
            <ul>
                <li><p>Analyzed how LLMs handle reasoning tasks when given a "problem -> algorithm -> application" pipeline.</p></li>
                <li><p>Aggregated a large dataset of problems and algorithms for fine tuning and testing.</p></li>
                <li><p>Studied how larger language models could improve responses of smaller language models.</p></li>
            </ul>
        </div>
        <div class="research-card">
            <h2>Large Language Models for Synthetic Data Generation</h2>
            <p><strong>Advisors/Collaborators:</strong> Professor Tomasz Imielinski</p>
            <ul>
                <li><p>Study on using LLMs for data generation, storage, and compression.</p></li>
                <li><p>Generated simulation stock market datasets for "realism" accuracy evaluations.</p></li>
                <li><p>Tracked how LLMs detected patterns within large datasets.</p></li>
            </ul>
        </div>
    </div>
    <footer>
        <a href="https://github.com/HowardLuo49" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/howard-luo-03b54b238/" target="_blank">LinkedIn</a>
    </footer>
</body>
</html>
