<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/skills">Skills</a>
            <a href="/coursework">Coursework</a>
            <a href="/teaching">Teaching Experience</a>
            <a href="/research">Research</a>
            <a href="/projects">Projects</a>
            <a href="/about">About Me</a>
        </nav>
        <h1>Skills</h1>
    </header>
    <div class="skills-category">
        <h2>Programming Languages</h2>
        <div class="skills-grid">
            <div class="skills-item">
                <p>Python</p>
                <img src="/static/skills_images/python.png" alt="Python">
            </div>
            <div class="skills-item">
                <p>Java</p>
                <img src="/static/skills_images/java.png" alt="Java">
            </div>
            <div class="skills-item">
                <p>C</p>
                <img src="/static/skills_images/c.png" alt="C">
            </div>
            <div class="skills-item">
                <p>C++</p>
                <img src="/static/skills_images/cpp.png" alt="C++">
            </div>
            <div class="skills-item">
                <p>OCaml</p>
                <img src="/static/skills_images/ocaml.png" alt="OCaml">
            </div>
            <div class="skills-item">
                <p>Rust</p>
                <img src="/static/skills_images/rust.png" alt="Rust">
            </div>
            <div class="skills-item">
                <p>R</p>
                <img src="/static/skills_images/r.png" alt="R">
            </div>
            <div class="skills-item">
                <p>SQL</p>
                <img src="/static/skills_images/sql.png" alt="SQL">
            </div>
        </div>
    </div>
    
    <div class="skills-category">
        <h2>Frameworks & Libraries</h2>
        <div class="skills-grid">
            <div class="skills-item">
                <p>Flask</p>
                <img src="/static/skills_images/flask.png" alt="Flask">
            </div>
            <div class="skills-item">
                <p>NumPy</p>
                <img src="/static/skills_images/numpy.png" alt="NumPy">
            </div>
            <div class="skills-item">
                <p>Pandas</p>
                <img src="/static/skills_images/pandas.png" alt="Pandas">
            </div>
            <div class="skills-item">
                <p>Seaborn</p>
                <img src="/static/skills_images/seaborn.png" alt="Seaborn">
            </div>
            <div class="skills-item">
                <p>Matplotlib</p>
                <img src="/static/skills_images/matplotlib.png" alt="Matplotlib">
            </div>
            <div class="skills-item">
                <p>Scikit-learn</p>
                <img src="/static/skills_images/sklearn.png" alt="Scikit-learn">
            </div>
            <div class="skills-item">
                <p>Angular</p>
                <img src="/static/skills_images/angular.png" alt="Angular">
            </div>
            <div class="skills-item">
                <p>React/p>
                <img src="/static/skills_images/react.png" alt="React">
            </div>
        </div>
    </div>
    
    <div class="skills-category">
        <h2>Tools & Platforms</h2>
        <div class="skills-grid">
            <div class="skills-item">
                <p>Git</p>
                <img src="/static/skills_images/git.png" alt="Git">
            </div>
            <div class="skills-item">
                <p>Docker</p>
                <img src="/static/skills_images/docker.png" alt="Docker">
            </div>
            <div class="skills-item">
                <p>Linux</p>
                <img src="/static/skills_images/linux.png" alt="Linux">
            </div>
            <div class="skills-item">
                <p>Nginx</p>
                <img src="/static/skills_images/nginx.png" alt="Nginx">
            </div>
            <div class="skills-item">
                <p>Postman</p>
                <img src="/static/skills_images/postman.png" alt="Postman">
            </div>
            <div class="skills-item">
                <p>Jupyter</p>
                <img src="/static/skills_images/jupyter.png" alt="Jupyter">
            </div>
            <div class="skills-item">
                <p>AWS</p>
                <img src="/static/skills_images/aws.png" alt="AWS">
            </div>
            <div class="skills-item">
                <p>Jenkins</p>
                <img src="/static/skills_images/jenkins.png" alt="Jenkins">
            </div>
            <div class="skills-item">
                <p>Tableau</p>
                <img src="/static/skills_images/tableau.png" alt="Tableau">
            </div>
            <div class="skills-item">
                <p>Excel</p>
                <img src="/static/skills_images/excel.png" alt="Excel">
            </div>
        </div>
    </div>
    
    <div class="skills-category">
        <h2>Machine Learning & AI</h2>
        <div class="skills-grid">
            <div class="skills-item">
                <p>Deep Learning</p>
                <img src="/static/skills_images/deep_learning.png" alt="Deep Learning">
            </div>
            <div class="skills-item">
                <p>Reinforcement Learning</p>
                <img src="/static/skills_images/reinforcement_learning.png" alt="Reinforcement Learning">
            </div>
            <div class="skills-item">
                <p>Huggingface</p>
                <img src="/static/skills_images/huggingface.png" alt="Huggingface">
            </div>
            <div class="skills-item">
                <p>Langchain</p>
                <img src="/static/skills_images/langchain.png" alt="Langchain">
            </div>
            <div class="skills-item">
                <p>TensorFlow</p>
                <img src="/static/skills_images/tensorflow.png" alt="TensorFlow">
            </div>
            <div class="skills-item">
                <p>PyTorch</p>
                <img src="/static/skills_images/pytorch.png" alt="PyTorch">
            </div>
            <div class="skills-item">
                <p>Keras</p>
                <img src="/static/skills_images/keras.png" alt="Keras">
            </div>
            <div class="skills-item">
                <p>OpenCV</p>
                <img src="/static/skills_images/opencv.png" alt="OpenCV">
            </div>
        </div>
    </div>
    
    <div class="skills-category">
        <h2>Development Environments</h2>
        <div class="skills-grid">
            <div class="skills-item">
                <p>VS Code</p>
                <img src="/static/skills_images/vscode.png" alt="VS Code">
            </div>
            <div class="skills-item">
                <p>Eclipse</p>
                <img src="/static/skills_images/eclipse.png" alt="Eclipse">
            </div>
            <div class="skills-item">
                <p>Node.js</p>
                <img src="/static/skills_images/nodejs.png" alt="Node.js">
            </div>
            <div class="skills-item">
                <p>Powershell</p>
                <img src="/static/skills_images/powershell.png" alt="Powershell">
            </div>
            <div class="skills-item">
                <p>Androidstudio</p>
                <img src="/static/skills_images/androidstudio.png" alt="Androidstudio">
            </div>
        </div>
    </div>    
    <footer>
        <a href="https://github.com/HowardLuo49" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/howard-luo-03b54b238/" target="_blank">LinkedIn</a>
    </footer>
</body>
</html>
